*{
margin:0;
padding:0;
}

body
{
background-image:url('../img/pattern4.png');

}
.global{
position :absolute;
top:7%;
left :25%;
background:white;
width:940px;
height:840px;
margin-left :auto;
margin-right:auto;
background-image: linear-gradient(bottom, rgb(240,240,237) 24%, rgb(47,204,204) 84%);
background-image: -o-linear-gradient(bottom, rgb(240,240,237) 24%, rgb(47,204,204) 84%);
background-image: -moz-linear-gradient(bottom, rgb(240,240,237) 24%, rgb(47,204,204) 84%);
background-image: -webkit-linear-gradient(bottom, rgb(240,240,237) 24%, rgb(47,204,204) 84%);
background-image: -ms-linear-gradient(bottom, rgb(240,240,237) 24%, rgb(47,204,204) 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.24, rgb(240,240,237)),
	color-stop(0.84, rgb(47,204,204))
);
box-shadow: 8px 8px 12px 8px #375757;
border-radius:25px;
}
.header{
width:80%;
height:12%;
margin-top:5px;
margin-left:10%;
margin-right:10%;
}

.tete{
padding:30px;
text-shadow: 5px -5px 10px white;
color: #0d7082;
font-weight : normal;
font-family : Lucida Sans Typewriter
}

.container{

width:80%;
margin-top:10%;
margin-left:10%;
margin-right:10%;
}

.intro{
font-family : Lucida Sans Typewriter;
margin-left:-2%;
margin-top:2%
}
.logo{
margin-top:15%;
margin-left:10%
}

.enter{
margin-top:-15%;
margin-left:50%
}

.footer{
background:white;
width:90%;
margin-top:25%;
margin-bottom:5%;
margin-left:5%;
margin-right:5%;

}

.logU{
position:absolute;
left:10%;

}

.logE{
position:absolute;
left:80%;
}